.vs/
.vscode/
*.vscode/
*.vshost.exe
*.vstest.*
*.vsmdi
*.ntvs*
*.nupkg/
*.suo
*.user
*.userosscache
*.sln.docstates
project.lock.json
npm-debug.log
[Tt]est[Rr]esult*
*.VisualState.xml
*.dbmdl
*.pdb
*.jfm
*.pfx
*.publishsettings
ipch/
*.ide
*.addin
*.suo
*.user
*.userosscache
*.sln.docstates
*.nupkg
**/packages/*
!**/packages/build/
*.mdf
*.ldf
*.cache
**/obj/Debug
bin/



